/*
.card-style {
    background-color: var(--ifm-card-background-color);
    border-radius: var(--ifm-card-border-radius);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.07), 0 2px 4px -2px rgb(0 0 0 / 0.07);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease-in-out;
}
*/
/*
.card-style:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: translateY(-50px) scale(2);
}
*/

/*
a[class^="cardContainer_"] {
  display: block;
  transition: all 0.3s ease-in-out !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

a[class^="cardContainer_"]:hover {
  transform: translateY(-12px) scale(103);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  cursor: pointer;
}
*/


[class^="cardContainer_"] {
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

[class^="cardContainer_"]:hover {
  transform: scale(1.05) translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--ifm-background-color);
}


/*
.breadcrumbs__link {
  transition: all 0.3s ease;
  color: var(--ifm-link-color);
}

.breadcrumbs__link:hover {
  color: var(--ifm-link-hover-color);
  text-decoration: underline;
}
*/
/*
成功例
.cardContainer_fWXF {
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cardContainer_fWXF:hover {
  transform: scale(1.05) translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--ifm-background-color);
}
*/